* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

header {
    grid-column: 2 / 5;
}
aside {
    grid-column: 1;
}